<!DOCTYPE html>
<html 	lang="en"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
		layout:decorate="~{fragments/layout}"
		layout:fragment="section">
<section>
    <!-- <h3 class="board-title">로그인</h3> -->

	<div class="admin-toolbar-row">
		<select class="menu-list">
			<option value="notice">공지사항</option>
			<option value="music">음악</option>
			<option value="photo">사진</option>
			<option value="review">리뷰</option>
			<option value="daily">일상</option>
			
			<!--
			<th:block th:each="m : ${MENU_LIST}" th:object="${m}">
				<option th:value="*{icode}" th:text="*{menuName}"></option>
			</th:block>
			-->
		</select>

		<div class="admin-btn-wrap">
			<button type="button">공개</button>
			<button type="button">비공개</button>
			<button type="button">삭제</button>
			<button type="button">작성</button>
		</div>
	</div>

	<table class="admin-table">
		<thead>
			<tr>
				<th style="width: 20px"></th>
				<th style="width: 50px">카테고리</th>
				<th style="width: auto">제목</th>
				<th style="width: 50px">공개 여부</th>
				<!-- <th style="max-width: 50px">작성일</th> -->
			</tr>
		</thead>
		<tbody>
			<tr th:each="d : ${DATA}" th:object="${d}">
				<td><input type="checkbox" class="row-check" th:value="*{iboard}"/></td>
				<td th:text="*{boardName}"></td>
				<td><a th:href="@{/b/{url}/{iboard}(url=${BOARD_URL},iboard=${d.iboard})}"><span th:text="*{title}"></span></a></td>
				<td th:text="*{secYn} == 'N' ? '공개' : '비공개'"></td>
				<!-- <td th:text="*{createdAt}"></td> -->
			</tr>
		</tbody>
	</table>
	
	<div th:replace="~{fragments/paginationAdmin :: paginationAdmin}"></div>
	
    <th:block th:replace="~{fragments/modal :: modal}"></th:block>
	<script th:src="@{/js/admin.js}"></script>
</section>
</html>