<!DOCTYPE html>
<html 	lang="en"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
		layout:decorate="~{fragments/layout}"
		layout:fragment="section">
<style>
	iframe {
		box-sizing: border-box;
	    width: 100%;
	    height: 200px;
	}
	img {
		box-sizing: border-box;
		max-width: 100%;
	}
</style>
<section th:object="${DATA}">
    <div class="scroll-area">
	    <!-- <h3 class="board-title" th:text="${BOARD_NAME}"></h3> -->
	    
        <p class="post-title" th:text="*{title}"></p>
        <ul class="post-meta">
            <!-- <li>관리자</li> -->
            <li th:text="*{createdAt}"></li>
            <!-- <li>조회수 123</li> -->
        </ul>
    
        <!-- 썸네일이 있을 경우 썸네일 표출 -->
        <th:block th:if="*{thumbnail} != ''">
	 		<div class="thumb center">
		        <img class="non-aspect" th:src="@{{thumbnail}(thumbnail=*{thumbnail})}" alt="썸네일"/>
		        <p>썸네일</p>
	        </div>
    	</th:block>
        
        <!--
        <div class="thumb center">
            <img src="img/img-noimage.png" alt="앨범 커버"/>
            <p>썸네일</p>
        </div>
        -->
    	
    	<!-- 음악 추천 게시글일 경우 유튜브 영상 표출 -->
    	<th:block th:if="*{youtubeId} != ''">
    		<iframe th:src="'https://www.youtube.com/embed/' + *{youtubeId}"></iframe>
    	</th:block>
    	
        <!-- 본문 -->
        <div class="post-content" th:utext="*{contents}">
        </div>
    
	    <div class="post-nav-wrap">
	    	<th:block th:if="${NEXT_POST == null}">
		        <a href="#" class="post-nav prev">
		            <span class="label">다음 글</span>
		            <span class="title">다음 글이 없습니다.</span>
		        </a>
	    	</th:block>
	    	<th:block th:if="${NEXT_POST != null}">
	        <a th:href="@{/b/{url}/{iboard}(url=${BOARD_URL},iboard=*{iboard})}" class="post-nav next" th:object="${NEXT_POST}">
	            <span class="label">다음 글</span>
	            <span class="title" th:text="*{title}"></span>
	        </a>
	    	</th:block>
	    	
	    	<th:block th:if="${PREV_POST == null}">
		        <a href="#" class="post-nav prev">
		            <span class="label">이전 글</span>
		            <span class="title">이전 글이 없습니다.</span>
		        </a>
	    	</th:block>
	    	<th:block th:if="${PREV_POST != null}">
	        <a th:href="@{/b/{url}/{iboard}(url=${BOARD_URL},iboard=*{iboard})}" class="post-nav prev" th:object="${PREV_POST}">
	            <span class="label">이전 글</span>
	            <span class="title" th:text="*{title}"></span>
	        </a>
	    	</th:block>
	    </div>
	
	    <div class="post-buttons">
	    	<!--
	        <a href="#" class="btn btn-edit">수정</a>
	        <a href="#" class="btn btn-delete">삭제</a>
	    	-->
	        <a th:href="@{/b/{url}(url=${BOARD_URL})}" class=" btn btn-back">목록</a>
	    </div>
    </div>
</section>
</html>