<!DOCTYPE html>
<html 	lang="en"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
		layout:decorate="~{fragments/layout}"
		layout:fragment="section">
<style>
	.post-buttons { margin: -5px 0 10px 0; }
</style>
<section>
    <!-- 카드 -->
	<th:block th:each="d : ${DATA}" th:object="${d}">
		<a th:href="@{/b/{url}/{iboard}(url=${BOARD_URL}, iboard=${d.iboard})}" class="card card-horizontal">
			<th:block th:if="*{thumbnail != ''}">
				<div class="thumb-left">
					<img th:src="*{thumbnail}" alt="썸네일" />
				</div>
			</th:block>
			<th:block th:if="*{youtubeId != ''}">
				<div class="thumb-left">
					<img th:src="|https://img.youtube.com/vi/*{youtubeId}/0.jpg|" alt="썸네일" />
				</div>
			</th:block>
		
		    <div class="card-content">
		    	<p class="meta">
					<p class="category" th:text="*{boardName}"></p>
					<p class="date" th:text="*{createdAt}"></p>
		    	</p>
				<h4 class="title" th:text="*{title}"></h4>
		    </div>
		</a>
	</th:block>

	<th:block sec:authorize="isAuthenticated()">
		<div class="post-buttons">
			<button type="button" class="btn btn-edit" th:onclick="|location.href='@{/a/i/{url}(url=${BOARD_URL})}'|">작성</button>
		</div>
	</th:block>
	
	<div th:replace="~{fragments/pagination :: pagination}"></div>
</section>
</html>