<!DOCTYPE html>
<html 	lang="en"
		xmlns:th="http://www.thymeleaf.org"
		th:fragment="head">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="favicon" href="/favicon.ico" />
    <title>이주영 홈페이지</title>
    
    <link rel="stylesheet" th:href="@{/css/cmmn.css}">
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/nav.css}">
	<link rel="stylesheet" th:href="@{/css/section.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
	<link rel="stylesheet" th:href="@{/css/modal.css}">

	<!-- CDN -->
    <link href="https://cdn.jsdelivr.net/npm/spoqa-han-sans@3.3.0/css/SpoqaHanSansNeo.min.css" rel="stylesheet">
	
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script th:src="@{/js/cmmn.js}"></script>
	<script th:src="@{/js/modal.js}"></script>
</head>
</html>