<!DOCTYPE html>
<html 	lang="en"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{fragments/head :: head}" />

<body>
	<div id="wrap">
		<th:block th:switch="${cssVersion}">
	    	    <th:block th:replace="~{fragments/header :: header}"></th:block>
				
				<!-- 버전에 따른 레이아웃 분기문 처리 -->	    	    
			    <th:block th:case="'v1'">
				    <th:block th:replace="~{fragments/nav :: nav}"></th:block>
			    </th:block>
			    
   			    <th:block th:case="'v2'">
				    <th:block th:replace="~{fragments/nav :: nav}"></th:block>
			    </th:block>
			    
		        <!-- 그 외 -->
			    <th:block th:case="*">
			    </th:block>
			    
			    <th:block layout:fragment="section"></th:block>
			    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
		</th:block>
	</div>
</body>
</html>