<!DOCTYPE html>
<html 	lang="en"
		xmlns:th="http://www.thymeleaf.org"
		th:fragment="pagination">
<div class="pagination">
    <!--
        <a href="#" class="page arrow">«</a>
        <a href="#" class="page arrow">‹</a>
    -->
    <a href="#" class="page active">1</a>
    <!--
        <a href="#" class="page">2</a>
        <a href="#" class="page">3</a>
        <a href="#" class="page">4</a>
        <a href="#" class="page">5</a>
        <a href="#" class="page arrow">›</a>
        <a href="#" class="page arrow">»</a>
    -->
</div>
</html>