<!DOCTYPE html>
<html 	lang="en"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
		layout:decorate="~{fragments/layout}"
		layout:fragment="section">
<section>
    <h3 class="board-title">안내</h3>
    <div class="scroll-area">
        <div class="intro">
            <img th:src="@{img/img-pearl.png}" id="img-intro" alt="홈화면 이미지"/>
            <p>예기치 못한 에러가 발생했습니다.</p>
        </div>
    </div>
</section>
</html>