<!DOCTYPE html>
<html 	lang="en"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
		layout:decorate="~{fragments/layout}"
		layout:fragment="section">
<section>
  <div class="scroll-area">
  	<!-- <h3 class="board-title">자기소개</h3> -->
    <div class="profile">
      <img src="https://avatars.githubusercontent.com/u/135996109?v=4" alt="프로필 사진">
      <h2>이주영</h2>
      <!-- <p class="subtitle">개발자 · 사진가 · 음악 애호가</p> -->
    </div>

    <div class="about-desc">
      <p>
        자급자족 낭만파
      </p>
    </div>

    <div class="about-info">
      <ul>
        <li><strong>위치</strong>대한민국</li>
        <li><strong>직무</strong>웹 개발자</li>
        <li><strong>깃허브</strong><a href="https://github.com/hobbyscripterII" target="_blank">github.com/hobbyscripterII</a></li>
        <li><strong>기술 블로그</strong><a href="https://mytilblog.tistory.com" target="_blank">mytilblog.tistory.com</a></li>
        <li><strong>네이버 블로그</strong><a href="https://blog.naver.com/wruomma2" target="_blank">blog.naver.com/wruomma2</a></li>
      </ul>
    </div>
  </div>
</section>
</html>