<!DOCTYPE html>
<html 	lang="en"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
		layout:decorate="~{fragments/layout}"
		layout:fragment="section">
<style>
	table th:nth-child(1), table td:nth-child(1) { width: 16%; }
	table th:nth-child(2), table td:nth-child(2) { width: 55%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
	table th:nth-child(3), table td:nth-child(3) { width: 20%; }
</style>
<section>
	<div class="intro">
	    <!-- <img src="https://avatars.githubusercontent.com/u/135996109?v=4" id="img-intro" alt="홈화면 이미지"/> -->
	    <img th:src="@{/image/icon-window.png}" id="img-intro" alt="홈화면 이미지"/>
	    <p>라즈베리파이에서 <span id="day"></span>일 째 돌아가는 중</p>
	</div>

	<div>
		<div style="margin: 10px 0">
			<strong>최근 게시물</strong>
		</div>
		 
		<table class="notice-list">
			<thead>
				<tr>
					<th>게시판</th>
					<th>제목</th>
					<th>작성일</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="d : ${DATA}" th:object="${d}">
					<td th:text="*{boardName}"></td>
					<td>
						<a th:href="@{/b/{url}/{iboard}(url=${BOARD_URL}, iboard=${d.iboard})}">
							<span th:text="*{title}"></span>
						</a>
					</td>
					<td th:text="*{createdAt.substring(0, 10)}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
<script>
	$(document).ready(function() {
		let startDate = new Date('2024-09-24T00:00:00');
		let currentDate = new Date();
		let timeDifference = currentDate - startDate;
		let daysElapsed = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
		let $day = $('#day');
		
		$day.html(daysElapsed);
	});
</script>
</html>