<!DOCTYPE html>
<html 	lang="en"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
		layout:decorate="~{fragments/layout}"
		layout:fragment="section">
<section>
	<div class="intro">
	    <!-- <img src="https://avatars.githubusercontent.com/u/135996109?v=4" id="img-intro" alt="홈화면 이미지"/> -->
	    <img th:src="@{/image/image-ice.png}" id="img-intro" alt="홈화면 이미지"/>
	    <p>라즈베리파이에서 <span id="day"></span>일 째 돌아가는 중</p>
	</div>

	<div class="preview">
		<h3>최근 게시물</h3>
		 
		<a th:href="@{/b/{url}/{iboard}(url=*{boardUrl},iboard=*{iboard})}" class="card card-horizontal" th:each="d : ${DATA}" th:object="${d}">
			<th:block th:if="*{thumbnail != ''}">
				<div class="thumb-left">
					<img th:src="*{thumbnail}" alt="썸네일" />
				</div>
			</th:block>
			<th:block th:if="*{youtubeId != ''}">
				<div class="thumb-left">
					<img th:src="|https://img.youtube.com/vi/*{youtubeId}/0.jpg|" alt="썸네일" />
				</div>
			</th:block>
		
			<div class="card-content">
			    <p class="meta">
				     <p class="category" th:text="*{boardName}"></p>
				     <p class="date" th:text="*{createdAt}"></p>
			    </p>
			    <h4 class="title" th:text="*{title}"></h4>
			</div>
		</a>
	</div>
</section>
<script>
	$(document).ready(function() {
		let startDate = new Date('2024-09-24T00:00:00');
		let currentDate = new Date();
		let timeDifference = currentDate - startDate;
		let daysElapsed = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
		let $day = $('#day');
		
		$day.html(daysElapsed);
	});
</script>
</html>