header {
    padding: 7px 0;
    background-color: #233067;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid #233067;
}
header a h3{
    color: #fff;
    font-weight: 400;
}