<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.homepage_v2.admin.AdminMapper">
<select id="menuCodeGet" resultType="MenuCodeGetVo">
	SELECT ICODE, NAME AS MENU_NAME
	FROM TBL_CODE
	WHERE ICODE LIKE 'B%'
		AND ICODE NOT IN('B006', 'B007')
</select>

<select id="adminBoardGet" parameterType="AdminBoardGetDto" resultType="AdminBoardGetVo">
	SELECT B.IBOARD, B.ICODE, C.NAME AS BOARD_NAME, B.TITLE, B.SEC_YN, B.DEL_YN, DATE_FORMAT(B.CREATED_AT, '%Y-%m-%d') AS CREATED_AT
	FROM TBL_BOARD B
	INNER JOIN TBL_CODE C
	ON B.ICODE = C.ICODE
	<where>
		<choose>
			<when test="icode != 'default'">
				B.ICODE = #{icode}
			</when>
		</choose>
	AND DEL_YN = 'N'
	</where>
	ORDER BY B.CREATED_AT DESC
	LIMIT #{offset}, #{amount}
</select>

<select id="adminBoardSel" parameterType="int" resultType="BoardSelVo">
	SELECT 
		B.IBOARD, 
		B.ICODE, 
		B.TITLE, 
		B.CONTENTS, 
		IFNULL(B.YOUTUBE_ID, '') AS YOUTUBE_ID, 
		B.CREATED_AT, 
		IFNULL(TH.NAME, '') AS THUMBNAIL, 
		B.SEC_YN
	FROM TBL_BOARD B
	LEFT JOIN TBL_THUMBNAIL TH
	ON B.IBOARD = TH.IBOARD
	WHERE B.IBOARD = #{iboard}
</select>

<insert id="adminBoardIns" parameterType="AdminBoardInsDto" useGeneratedKeys="true" keyColumn="iboard">
	INSERT INTO TBL_BOARD(ICODE, IADMIN, TITLE, CONTENTS, YOUTUBE_ID, SEC_YN) VALUES(
		#{icode},
		#{iadmin},
		#{title},
		#{contents},
		#{youtubeId},
		#{secYn}
	)
	<selectKey keyProperty="iboard" resultType="integer">
		SELECT LAST_INSERT_ID()
	</selectKey>
</insert>

<update id="adminBoardUpd" parameterType="AdminBoardUpdDto">
	UPDATE TBL_BOARD SET
	ICODE = #{icode},
	TITLE = #{title},
	CONTENTS = #{contents},
	YOUTUBE_ID = #{youtubeId},
	SEC_YN = #{secYn}
	WHERE IBOARD = #{iboard}
</update>

<delete id="adminBoardDel" parameterType="int">
	UPDATE TBL_BOARD
	SET DEL_YN = 'Y'
	WHERE IBOARD = #{iboard}
</delete>

<!-- 페이지네이션 -->
<select id="adminBoardCntGet" parameterType="AdminBoardCntGetDto" resultType="int">
	SELECT COUNT(*)
	FROM TBL_BOARD
	<where>
		<choose>
			<when test="icode != 'default'">
				ICODE = #{icode}
			</when>
		</choose>
	AND DEL_YN = 'N'
	</where>
</select>

<insert id="thumbnailIns" parameterType="ThumbnailInsDto">
	INSERT INTO TBL_THUMBNAIL(IBOARD, NAME) VALUES(
		#{iboard},
		#{name}
	)
</insert>

<update id="thumbnailUpd" parameterType="ThumbnailUpdDto">
	INSERT INTO TBL_THUMBNAIL(IBOARD, NAME) VALUES(
		#{iboard},
		#{name}
	)
	ON DUPLICATE KEY UPDATE
	NAME = VALUES(NAME)
</update>
</mapper>