<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.homepage_v2.board.BoardMapper">
<select id="boardGet" parameterType="BoardGetDto" resultType="BoardGetVo">
	SELECT B.IBOARD, B.ICODE, C.NAME AS BOARD_NAME, B.TITLE, B.CREATED_AT
	FROM TBL_BOARD B
	INNER JOIN TBL_CODE C
	ON B.ICODE = C.ICODE
	WHERE B.ICODE = #{icode}
		AND B.SEC_YN = 'N'
	ORDER BY B.CREATED_AT DESC
	LIMIT #{offset}, #{amount}
</select>
</mapper>