<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.homepage_v2.home.HomeMapper">
<!-- 최신 게시글 2개 불러오기 -->
<select id="latestPostGet" resultType="LatestPostGetVo">
	SELECT B.IBOARD, B.ICODE, B.TITLE, IFNULL(T.NAME, '') AS THUMBNAIL, IFNULL(B.YOUTUBE_ID, '') AS YOUTUBE_ID, B.CREATED_AT
	FROM TBL_BOARD B
	LEFT JOIN TBL_THUMBNAIL T
		ON B.IBOARD = T.IBOARD
	WHERE B.DEL_YN = 'N'
		AND B.SEC_YN = 'N'
	ORDER BY B.IBOARD DESC
	LIMIT 2
</select>
</mapper>